
        <div>
            <form action="/api/auth/admin/adminpasswordreset/" method="POST">
                <input type="hidden" name="id" value= <%= data.id %> />
                <input type="hidden" name="token" value= <%= data.token %> />
                <input type="password" name="password" value="" placeholder="Enter your new password..." />
                <input type="password" name="confirmPassword" value="" placeholder="Re-enter your new password..." />
                <input type="submit" />
            </form>
        </div>


        <% if(error.length > 0) { %>
            <div>
                <%= error %>
            </div>
        <% }%>
        


