<head>
    <link href= "/public/css/style-success.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="outer-div">
        <div>
            <h1 style="color:#5C5C5C;">BookedUp</h1>
        </div>
        <div class="success-flash">
            <p>Password change success. Please <a href=http://www.bookedup.net> log in</p>
        </div>
    </div>
</body>
